php_value upload_max_filesize 500M
php_value post_max_size 500M
ErrorDocument 404 /404.php
Options -Indexes
php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on
php_flag ignore_repeated_errors on
php_flag ignore_repeated_source on
php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
php_value error_log /home/path/public_html/domain/PHP_errors.log
php_value error_reporting 1
php_value log_errors_max_len 0
