html, body {
	margin: 0;
  font-family: -apple-system, sans-serif;
}
.upper_back_bar {
  height: 48px;
  padding: 0 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.create_post_text {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  color: #3e4042;
  flex: 99 1;
}
.left_arrow {
  width: 18px;
  display: inline;
  margin: 0 4px 0 -8px;
  padding: 8px;
  flex: 1 1;
}
.post_button {
  flex: 1 1;
  background: none;
  border: none;
  color: #e6cc19;
  font-size: 16px;
  font-weight: bold;
  line-height: inherit;
  padding: 0;
}
.avatar_audience_bar {
  background-color: white;
  border-bottom: 1px solid #dadde1;
  border-top: 1px solid #dadde1;
  padding: 8px;
  display: flex;
  align-items: center;
}
.avatar {
  width: 48px;
  border-radius: 50%;
  margin-right: 8px;
}
.name_audience {
  display: inline;
}
.name {
  color: #444950;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
}
.audience {
  color: #8d949e;
  font-size: 12px;
}
.what_do_you_think {
  background-color: white;
}
textarea {
  font-size: 14px;
  padding: 12px;
  background: transparent;
  border: 0;
  box-shadow: none;
  height: 100px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  font-family: -apple-system, sans-serif;
  color: black;
}
textarea::placeholder {
  color: #90949c;
}
.photo {
  background-color: white;
  border-top: 1px solid #dadde1;
  border-bottom: 1px solid #dadde1;
  color: #606770;
  line-height: 40px;
  padding: 0 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.tag, .location, .feeling {
  background-color: white;
  border-bottom: 1px solid #dadde1;
  color: #606770;
  line-height: 40px;
  padding: 0 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.photo_icon {
  width: 20px;
  height: 20px;
  background-position: -42px -121px;
  background-image: url(/assets/icons_pack_small.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 12px;
}
.tag_icon {
  width: 20px;
  height: 20px;
  background-position: -21px -121px;
  background-image: url(/assets/icons_pack_small.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 12px;
}
.location_icon {
  width: 20px;
  height: 20px;
  background-position: -63px -121px;
  background-image: url(/assets/icons_pack_small.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 12px;
}
.feeling_icon {
  width: 20px;
  height: 20px;
  background-position: 0 -119px;
  background-image: url(/assets/icons_pack_small.png);
  background-size: 109px 169px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 12px;
}
.photo_text, .tag_text, .location_text {
  display: inline-block;
}
.post_button_bottom {
  background-color: #f5d600;
  border-radius: 2px;
  width: 100%;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  border: none;
}
.post_button_bottom_area {
  padding: 8px;
  margin-top: 4px;
}
.post_style {
  overflow: hidden;
  padding: 8px;
  white-space: nowrap;
}
.post_style_div {
  margin-left: 12px;
  background-size: contain;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 #bec3c9;
  display: inline-block;
  height: 32px;
  width: 32px;
}
.no_style {
  margin-left: 8px;
  border: 1px solid #ccd0d5;
}
.solid_orange {
  background-color: rgba(255,99,35,1.00);
}
.gradient {
  background-image: url(/assets/post_style/gradient_small.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -11px 0px;
}
.float {
  background-image: url(/assets/post_style/float_small.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -11px 0px;
}
.space {
  background-image: url(/assets/post_style/space_small.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px -68px;
}
.love {
  background-image: url(/assets/post_style/love_small.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px 0px;
}
.haha {
  background-image: url(/assets/post_style/haha_small.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px 0px;
}
.so {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2em;
  padding: 80px 30px;
  text-align: center;
  height: 208px;
}
.spa {
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2em;
  padding: 80px 30px;
  text-align: center;
  height: 208px;
}
.placeholderText::placeholder {
  color:black;
}
.phWhite::placeholder {
  color: white;
}
.error_area {
  padding: 8px;
  background-color: #ffebe8;
  color: #6d220d;
  border-bottom: 1px solid #dd3c10;
  font-size: 14px;
}