.upper_search_box {
	background-color: #f5d600;
	display: flex;
	padding: 10px;
}
html, body {
	margin: 0;
}
.search_box {
	border-bottom: 1px solid #9d9e57;
    color: #8e9557;
	font-family: -apple-system, sans-serif;
	height: 20px;
	flex: 1 1 auto;
	font-size: 14px;
	text-align: center;
	margin: 0 18px;
}
#profile_icon {
	flex: 0 1 auto;
	font-size: 20px;
	margin-left: 6px;
}
#setting_icon {
	flex: 0 1 auto;
	font-size: 20px;
	margin-right: 6px;
}
#search_icon {
	font-size: 15px;
	margin-right: 5px;
}
.navigation_bar {
	display: flex;
	background-color: white;
	padding-top: 10px;
	text-align: center;
}
.newsfeed_icon {
	color: #a1a5aa;
	font-size: 20px;
	flex: 1;
}
.friends_icon {
	color: #a1a5aa;
	font-size: 20px;
	flex: 1 1 auto;
}
.chat_icon, .noti_icon, .menu_icon {
	color: #a1a5aa;
	font-size: 20px;
	flex: 1 1 auto;
}
.indicator {
	background-color: #f5d649;
	height: 2px;
	margin-top: 5px;
}
.active {
  color: #f5d600;
}
.what_do_you_think {
	background-color: white;
	font-family: -apple-system, sans-serif;
	margin-top: 3px;
	padding: 0 10px 0 10px;
	display: flex;
}
.profile_pic_wdyt {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline;
	align-self: center;
}
.wdyt_box {
	color: #444950;
    margin: 12px 10px;
    padding: 7px 18px;
    border: 1px solid #ccd0d5;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    align-self: center;
    width: 100%;
}
.wdyt_photo_icon {
	font-size: 24px;
	padding-left: 13px;
    padding-right: 13px;
	color: #6f7278;
}
.wdyt_photo_icon_area {
	display: flex;
	flex-direction: column;
	align-self: center;
}
.wdyt_photo_text {
	color: #444950;
    font-size: 12px;
    line-height: 14px;
    margin-top: 4px;
    text-align: center;
}
.story_area {
	font-family: -apple-system, sans-serif;
	background: white;
    position: relative;
    overflow-x: scroll;
    margin: 0 0 8px 0;
}
.story_archive {
	float: right;
}
.profpic {
	width: 90px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 6px;
    margin-right: 7px;
}
.story_header {
	padding: 8px 5px 8px 8px;
	font-family: -apple-system, sans-serif;
	background-color: white;
	margin-top: 8px;
}
.bold_text {
	font-size: 14px;
}
.story_archive {
	color: #606770;
	margin-right: 3px;
	font-size: 14px;
}
.story_preview {
	padding-bottom: 6px;
	display: flex;
	flex-direction: row;
	width: 500px;
}
.story_archive_icon {
	height: 12px;
    width: 12px;
    background-image: url(/assets/icons_pack.png);
    background-size: 109px 169px;
    background-repeat: no-repeat;
    background-position: -78px -156px;
    display: inline-block;
}
.plus_background {
	height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 11px;
    top: 5px;
    display: flex;
  	align-items: center;
  	justify-content: center;
}
.plus_icon {
	background-image: url(/assets/icons_pack_small.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -84px -121px;
    height: 20px;
    width: 20px;
}
.add_to_story_area {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: #fff;
    position: absolute;
    height: 35%;
    left: 6px;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90px;
    border-radius: 12px;
}
.add_to_story_text_area {
	position: absolute;
  	bottom: 0;
  	left: 0;
  	font-size: 12px;
    line-height: 14px;
    text-overflow: ellipsis;
    text-shadow: 0 1px rgb(0 0 0 / 20%);
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 8px;
}
.story1 {
	display: inline-block;
}
.story .story-item {
	height: 160px;
    border-radius: 15px;
    background: #3e7fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
	position:relative;
	font-size:13px;	
}  
.story .story-item:before {
   content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .2;
    border-radius: 15px;
	
  } 
.story .story-item span {
	position:absolute;
	bottom:0;
	padding: 8px 7px;
	font-weight: bold;
	font-size: 12px;
}
.story .owl-stage {
    right: 15px;
}

.rounded1 {
  background-image:url(/images/tunna.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width:32px;
  height:32px;
  margin:5px;
  position:absolute;
  border-radius:50%;
  border:4px solid #3877e1;
}
.rounded2 {
  background-image:url(/images/phatdeptrai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width:32px;
  height:32px;
  margin:5px;
  position:absolute;
  border-radius:50%;
  border:4px solid #3877e1;
}
.rounded3 {
  background-image:url(/images/ndhai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width:32px;
  height:32px;
  margin:5px;
  position:absolute;
  border-radius:50%;
  border:4px solid #3877e1;
}
.rounded4 {
  background-image:url(/images/duongthao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width:32px;
  height:32px;
  margin:5px;
  position:absolute;
  border-radius:50%;
  border:4px solid #3877e1;
}
.ninebysixteen {
    margin-right: 3px;
    width: 90px;
    display: inline-block;
}
.newsfeed_post {
	background-color: white;
  margin-bottom: 8px;
}
.nf_post_avatar {
	border-radius: 50%;
	border: 0;
    display: inline-block;
    vertical-align: top;
}
i.img {
	-webkit-user-select: none;
	margin-right: 8px;
}
.nf_post_avatar_area, .nf_post_header_info {
	display: inline-block;
}
.newsfeed {
	font-family: -apple-system, sans-serif;
	display: none;
}
.nf_post_header_area {
    line-height: 17px;
    margin: 0 0 12px;
    padding: 10px 10px 0;
    display: flex;
}
.nf_post_name {
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	color: black;
}
.nf_post_header_info {
	align-items: center;
	align-self: center;
}
.nf_post_time {
	color: #90949c;
	text-decoration: none;
	font-size: 12px;
}
.dot {
	color: #90949c;
}
.audience_icon {
	font-size: 11px;
	color: #90949c;
}
.nf_post_caption {
	margin: 8px 0;
	padding: 0 10px;
}
p {
	margin: 0;
}
.nf_post_image {
	width: 100%;
  display: block;
}
hr {
  border: 0;
  border-top: 1px solid #ced0d4;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 0 10px;
}
.nf_post_reaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #666c74;
  font-size: 12px;
  font-weight: bold;
}
.nf_post_like {
  display: flex;
  flex: 1 1;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  align-items: center;
  border-radius: 10px;
}
.nf_post_like:active {
  background-color: #d8d8d8;
  transform: scale(0.94); 
}
.nf_post_comment {
  display: flex;
  flex: 1 1;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  align-items: center;
  border-radius: 10px;
}
.nf_post_comment:active {
  background-color: #d8d8d8;
  transform: scale(0.94); 
}
.nf_post_share {
  display: flex;
  flex: 1 1;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  align-items: center;
  border-radius: 10px;
}
.nf_post_share:active {
  background-color: #d8d8d8;
  transform: scale(0.94); 
}
.react {
  font-size: 20px;
  margin-right: 5px;
}
.liked {
  color: #e6cc19;
}
.user_liked {
	margin: 10px;
	font-size: 14px;
	color: #616770;
}
.fa-stack {
	font-size: 0.55rem;
	color: #e6cc19;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.story_shimmer {
	background: #fff;
	margin: 8px 0;
	padding: 14px 7px 10px;
	display: block;
}
.story_shimmer_header {
	background: #ebedf0;
    height: 8px;
    width: 50px;
}
.story_shimmer_body_1 {
	border-radius: 12px;
    height: 160px;
    margin: 16px 6px 0 0;
    width: 90px;
    background: #ebedf0;
    display: inline-block;
}
.story_shimmer_body_2 {
	border-radius: 12px;
    height: 160px;
    margin: 16px 6px 0 0;
    width: 90px;
    background: #ebedf0;
    display: inline-block;
}
.story_shimmer_body_3 {
	border-radius: 12px;
    height: 160px;
    margin: 16px 6px 0 0;
    width: 90px;
    background: #ebedf0;
    display: inline-block;
}
.story_header, .story_area {
	display: none;
}
.top_of_newsfeed {
    width: 100%;
    color: gray;
    font-family: -apple-system, sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading {
	display: inline-block;
	margin-left: 6px;
}
.padding_text {
  color: rgba(0,0,0,1.00);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2000em;
  padding: 50px 30px;
  text-align: center;
  align-self: auto;
}
.bg_text {
  background-position: center;
  background-size: cover;
  position: relative;
}
.text_white {
  color: white;
}
.profile_pic {
  width: 34px;
  height: 34px;
}
.icon {
  margin-left: 7px;
}
.profile_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin-top: 1px;
  height: 42px;
}
.language_button, .help_center_button, .setting_button, .privacy_button, .policy_button, .bug_button, .logout_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height: 42px;
  color: black;
  margin-bottom: 1px;
}
.menu_label {
  padding: 0 5px;
  text-overflow: ellipsis;
}
a {
  text-decoration: none;
}
.profile_name {
  font-size: 16px;
  color: black;
}
body {
  font-family: -apple-system, sans-serif;
}
h3 {
  margin: 0;
  background: #f6f7f8;
  border-bottom: 1px solid #e9eaed;
  border-top: 1px solid #e9eaed;
  color: #141823;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding-left: 8px;
}
.help_setting {
  font-size: 12px;
  font-weight: normal;
  color: #4e5665;
}
.language_icon {
  background-image: url(/assets/menu_icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 34px;
  width: 34px;
  background-position: 0 -175px;
}
.help_center_icon {
  background-image: url(/assets/menu_icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 34px;
  width: 34px;
  background-position: 0 -140px;
}
.setting_icon {
  background-image: url(/assets/menu_icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 34px;
  width: 34px;
  background-position: 0 -280px;
}
.privacy_icon {
  background-image: url(/assets/menu_icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 34px;
  width: 34px;
  background-position: 0 -245px;
}
.policy_icon {
  background-image: url(/assets/menu_icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 34px;
  width: 34px;
  background-position: 0 -315px;
}
.bug_icon {
  background-image: url(/assets/menu_icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 34px;
  width: 34px;
  background-position: 0 -70px;
}
.logout_icon {
  background-image: url(/assets/menu_icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 34px;
  width: 34px;
  background-position: 0 -210px;
}






















