.upper_title {
	font-size: 16px;
    line-height: 20px;
    margin: 0 8px;
    font-family: -apple-system, sans-serif;
    display: block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.upper_title_area {
	background-color: #f5d600;
	box-sizing: border-box;
	width: 100%;
	height: 44px;
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
html, body {
	margin: 0;
}
.multi_step_displayed_step {
	padding: 12px 8px 0;
	font-family: -apple-system, sans-serif;
}
.your_name_area {
	font-size: 20px;
    line-height: 24px;
    padding: 4px 8px;
    text-align: center;
    font-weight: bold;
}
.your_name_body_area {
	padding: 0 8px 12px;
	text-align: center;
}
.your_name_body_text {
	color: #1c1e21;
    font-size: 15px;
    line-height: 20px;
}
.invalid {
	background-color: #ffdddd;
}
#name_input {
	padding-right: 0px;
    padding-left: 0px;
    margin-top: 4px;
    border: 1px solid #ccd0d5;
    box-shadow: none;
    font-family: -apple-system, sans-serif;
    border-radius: 6px;
    box-sizing: border-box;
    height: 40px;
    padding: 4px 8px 5px;
    width: 100%;
}
.name_container {
	padding: 8px;
}
.name_step_label {
	color: #606770;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
}
.multi_step_next_button_area {
	padding: 12px 21% 20px 21%;
}
.next_button1 {
	font-family: -apple-system, sans-serif;
	background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    min-height: 36px;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    width: 100%;
}
.next_button1:active {
	background-color: #0965dc;
}
.login_link {
	padding: 0 16px;
}
#login_link {
	color: #576b95;
    cursor: pointer;
    text-decoration: none;
    font-family: -apple-system, sans-serif;
    font-size: 12px;
    line-height: 15px;
}
.copyright_text {
	font-family: -apple-system, sans-serif;
	font-size: 12px;
	color: gray;
	text-align: center;
	display: block;
}
#copyright {
	padding: 35px;
}
.fa-chevron-left {
	font-size: 20px;
	margin-left: 10px;
}
.name_error {
	width: 100%;
	margin-bottom: 3px;
	margin-top: 3px;
	background: #fa3e3e;
	color: #fff;
	padding: 8px;
	box-sizing: border-box;
}
.name_error_text {
	font-size: 14px;
    line-height: 20px;
}
.day_select, .month_select, .year_select {
	background-color: #fff;
    border: 1px solid #ccd0d5;
    box-shadow: none;
    border-radius: 6px;
    height: 40px;
    margin-top: 4px;
    padding: 10px 28px 10px 12px;
    width: 100%;
    font-size: 1em;
}
.birthday_area {
	display: flex;
	flex-flow: row nowrap;
}
.day {
	order: 1;
	flex: 1 1 auto;
}
.month {
	order: 2;
	flex: 1 1 auto;
	margin-left: 8px;
}
.year {
	order: 3;
	flex: 1 1 auto;
	margin-left: 8px;
}
.gender_select_area {
	margin-left: 45px;
	margin-right: 45px;
	padding-top: 12px;
	padding-bottom: 4px;
}
.gender_select {
	padding: 6px 0;
}
.other_gender_text {
	margin-top: 12px;
	color: #606770;
    font-size: 13px;
    line-height: 16px;
}
.term {
	color: #90949c;
	font-size: 12px;
    line-height: 16px;
    font-family: -apple-system, sans-serif;
    margin: 16px 0 0;
}
a {
	color: #576b95;
    cursor: pointer;
    text-decoration: none;
}
.loading_popup {
	background-color: #4080ff;
	padding: 19px 10px 19px 10px;
	font-family: -apple-system, sans-serif;
	color: white;
	align-content: center;
	align-items: center;
	display: none;
}
.loading_text {
	display: inline;
	margin-top: 1px;
    margin-left: 7px;
}
.error_popup {
	background-color: #ffebe8;
    color: #6d220d;
	border-bottom: 1px solid;
	padding: 8px;
	font-family: -apple-system, sans-serif;
	font-size: 14px;
	line-height: 18px;
	border-color: #dd3c10;
}
.success_popup {
	background-color: #e8ffec;
    color: #0d6d4a;
	border-bottom: 1px solid;
	padding: 8px;
	font-family: -apple-system, sans-serif;
	font-size: 14px;
	line-height: 18px;
	border-color: #26dd10;
}
.return_home {
	padding: 5px 8px;
	background-color: #fff;
}
.return_home_link {
	cursor: pointer;
    text-decoration: none;
    color: #8190b0;
    font-size: 12px;
    line-height: 15px;
    font-family: -apple-system, sans-serif;
}